<nav class="navbar navbar-expand-lg navbar-secondary">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img id="logoSize" src="https://cdn.vectorstock.com/i/preview-1x/53/77/car-rental-company-logo-design-vector-44605377.jpg" alt="" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               

            </ul>
            <form class="d-flex"> 
                @if(!status){

                    <button class="btn btn-outline-primary round-button mx-2" (click)="openLogin()" type="button" >Login</button>
                    <button class="btn btn-success round-button" (click)="openRegister()" type="button" data-toggle="modal" data-target="#registerModal">Register</button>
                }
                @else{
                    <button class="btn btn-outline-primary round-button mx-2" (click)="logout()" type="button" >Logout</button>
                    <!-- <button class="btn btn-success round-button" (click)="openRegister()" type="button" data-toggle="modal" data-target="#registerModal">Register</button>
                -->
                }
            </form>
        </div>
    </div>

</nav>
<div class="container-fluid pt-3" >
  <!-- <div class="display-1">{{He}}</div> -->
    <router-outlet></router-outlet>
</div>

